<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Analysis</title>
</head>
<body>
    <h1>DASHBOARD OF JOB ANALYSIS</h1>
    <iframe src="https://us1.ca.analytics.ibm.com/bi/?pathRef=.my_folders%2Ffianal%2Breport&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=edit" width="320" height="200" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
</body>
</html>